@use "./scss/abstracts" as *;
@use "./scss/base/fonts" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $grey;
}

h2 {
  color: $grey;
  margin: 2rem 0 1.5rem 0;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 2.5rem;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9rem;
  color: $white;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.25;
}

.container {
  background-color: $grey;
  display: grid;
  place-items: center;
  margin: 5.5rem 0;

  @include mq {
    margin: 0;
    height: 100vh;
  }
}

.grid {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 0.5rem;
  overflow: hidden;

  @include mq {
    flex-flow: row nowrap;
  }

  &__section {
    width: 20.5rem;
    padding: 3rem;

    @include mq {
      width: 19.15rem;
    }

    &:nth-child(1) {
      background-color: $orange;
    }

    &:nth-child(2) {
      background-color: $cyan;

      .grid__section--button {
        color: $cyan;

        &:active {
          color: $grey;
        }
      }
    }

    &:nth-child(3) {
      background-color: $darkCyan;

      .grid__section--button {
        color: $darkCyan;

        &:active {
          color: $grey;
        }
      }
    }

    &--paragraph {
      margin-bottom: 1.5rem;

      @include mq {
        margin-bottom: 5rem;
      }
    }

    &--button {
      width: 9.2rem;
      height: 3rem;
      background-color: $grey;
      border: none;
      border-radius: 2rem;
      font-size: 1rem;
      color: $orange;

      &:hover {
        cursor: pointer;
      }

      &:active {
        background-color: transparent;
        cursor: pointer;
        border: solid $grey 2px;
        color: $grey;
      }
    }
  }
}
